/* TOP BAR */
.top_bar {
  text-align: center;
  background: #0f172a;
  color: #fff;
  padding: 8px;
  font-size: 14px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.logo {
    flex: 0 0 20%;
}

.desktop-only {
    flex: 0 0 80%;
}
/* LOGO */
.logo img {
  height: 40px;
}

/* DESKTOP LAYOUT */
.desktop-only {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 65%;
}

.search-bar select {
  border: none;
  padding: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.input-wrapper img {
  width: 16px;
  cursor: pointer;
}

.input-wrapper input {
  border: none;
  outline: none;
  padding: 10px;
}

/* BUTTONS */
.auth {
  display: flex;
  gap: 10px;
  flex: 0 0 20%;
}

.btn-primary {
  background: #ff8801;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.btn-outline {
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
}

/* MOBILE ICONS */
.mobile-icons {
  display: none;
  font-size: 22px;
  gap: 15px;
}

/* MOBILE SEARCH */
.mobile-search {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid #eee;
}

.mobile-search input {
  flex: 1;
  padding: 10px;
}

.mobile-search button {
  background: #ff8801;
  color: #fff;
  border: none;
  padding: 10px;
}

/* MENU */
.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: white;
  padding: 20px;
  z-index: 1000;
}

.mobile-menu button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    text-align: left;
    border: unset;
}

.close {
  text-align: right;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .desktop-only {
    display: none;
  }

  .mobile-icons {
    display: flex;
  }

  .logo img {
    height: 32px;
  }
}